// * {
// 	scroll-margin-top: rem(56);
// 	@media (min-width: $md5) {
// 		scroll-margin-top: rem(74);
// 	}
// 	@media (min-width: $md3) {
// 		scroll-margin-top: rem(82);
// 	}
// }

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: rem($minWidth);
	min-height: 100%;
	line-height: normal;
	margin-right: 0 !important;
	color: #F9F9F9;
	background: #1F1F1F;

	&.open-mobile-menu {
		@media (max-width: $md3) {
			overflow: hidden;
		}
	}
}

// ================== ОБОЛОЧКА ==============================

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	overflow-x: clip;
}

.page {
	flex: 1 1 auto;
	overflow-x: clip;
}

// ================== ОБОЛОЧКА ===============================

// ================== LAYOUT =================================

.container {
	margin: 0 auto;
	padding: 0 1rem;
	max-width: $maxWidthContainer;

	@media (min-width: $md5) {
		padding: 0 rem(40);
		box-sizing: content-box;
	}

}

//=============== LAYOUT ===============================

// =============== MODULES ====================
@import "./modules/popup";

// =============== MODULES ====================

.section-header {
	display: grid;
	align-items: start;
	grid-template-columns: 1fr 2fr;
	gap: 1rem;

	// .section-header__title
	&__title {
		display: flex;
		align-items: center;
		gap: 1rem;

		&::before {
			color: $red;
		}
	}

	// .section-header__content
	&__content {
		display: flex;
		gap: 2rem;
	}

	// .section-header__tagline
	&__tagline {
		max-width: rem(490);
	}

	// .section-header__text
	&__text {
		max-width: rem(290);
		margin-left: auto;
	}
}