.footer {
    border-radius: 2rem 2rem 0 0;
    background: $bg-white;
    color: $text-black;
    padding: 2.5rem 0;

    // .footer__header
    &__header {
        display: flex;
        gap: 1rem;
    }

    // .footer__main
    &__main {
        border-right: rem(1) solid $red;
        padding-right: 2.5rem;
        flex: 0 1 14.5rem;

        @media (min-width:$md3) {
            padding-right: 5rem;
            flex: 0 1 23.4375rem;

        }
    }

    // .footer__logo
    &__logo {}

    // .footer__tagline
    &__tagline {
        color: $red;
        text-transform: uppercase;
        margin-top: 4rem;

        @media (min-width:$md3) {
            margin-top: 4.25rem;

        }
    }

    // .footer__menu
    &__menu {
        margin: 0 auto;
    }

    // .footer__caption
    &__caption {}

    // .footer__menu-list
    &__menu-list {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.875rem;
    }

    // .footer__menu-item
    &__menu-item {}

    // .footer__menu-link
    &__menu-link {
        color: $text-grey-dark;
        transition: color 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                color: $red
            }
        }
    }

    // .footer__contacts
    &__contacts {
        padding-left: 1.5rem;
        border-left: rem(1) solid $red;
        padding-left: 2.5rem;
        flex: 0 1 15rem;

        @media (min-width:$md3) {
            padding-left: 5rem;
            flex: 0 1 19.9375rem;

        }

        .footer__caption {
            text-align: center;
        }
    }

    // .footer__contacts-blocks
    &__contacts-blocks {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }


    // .footer__bottom
    &__bottom {
        margin-top: 1.75rem;
        border-top: rem(1) solid $red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
    }

    // .footer__column
    &__column {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &:last-child {
            align-items: flex-end;
        }
    }

    // .footer__copy
    &__copy {}

    // .footer__policy
    &__policy {
        transition: color 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                color: $red
            }
        }
    }
}