.form {
	display: flex;
	flex-direction: column;

	// .form__field
	&__field {
		position: relative;
		display: block;

		&+.form__field {
			margin-top: 1rem;
		}
	}

	// .form__control
	&__control {
		text-overflow: ellipsis;
		transition: border-color 0.3s ease, color 0.3s ease;
		width: 100%;
		border-radius: 0;
		background: #fff;
		color: #334b59;

		font-size: 1rem;
		line-height: 160%;
		border-radius: 0.375rem;
		border: 1px solid #666f79;
		background: #fff;
		padding: 0.65rem 1rem;

		@media (min-width: $md5) {
			padding: 0.65rem 1.5rem;
		}

		@media (min-width: $md3) {
			padding: 1rem;
		}



		&._input {
			padding: rem(22.2) 1rem rem(12.2);

			&+.form__field-placeholder {
				font-size: rem(12);
				top: rem(4);
				color: #7a7a7a;
				transition: top 0.3s ease, font-size 0.3s ease;
			}
		}

		&:-webkit-autofill,
		&:not(:placeholder-shown) {
			&+.form__field-placeholder {
				font-size: rem(12);
				top: rem(4);
			}
		}

		&::placeholder {
			opacity: 0;
		}

		&:hover,
		&:focus {
			border-color: $red;
		}

		&:disabled {
			background: #ddd;
			border-color: #ddd;
		}

		&._error {
			border-color: #f63a19;
		}

		&:is(textarea) {
			height: 7.5rem;
			resize: none;
		}
	}

	&__field-placeholder {
		position: absolute;
		top: 1.2rem;
		left: rem(5);
		padding: 0 0.75rem;

		color: #b6bbc0;
		display: block;
		transition: top 0.3s ease 0s, font-size 0.3s ease 0s;
		font-size: 1rem;

		pointer-events: none;
		width: calc(100% - rem(10));

		@media (min-width: $md4) {
			font-size: 0.875rem;
		}

		@media (min-width: $md2) {
			font-size: 1rem;
		}
	}

	// .form__submit
	&__submit {
		width: 100%;
		margin-top: 2rem;
	}

	// .form__policy
	&__policy {
		text-align: center;
	}

}

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	gap: 1.5rem;
	align-items: center;
	text-align: center;
	user-select: none;
	transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
	border-radius: 2rem;
	padding: 1.25rem 2.5rem;
	font-family: $font-onest;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 145%;
	text-transform: uppercase;

	&.icon-arrows {
		&::before {
			font-size: 1.375rem;
		}
	}

	&::before {
		order: 1;
		transition: all 0.3s ease;
	}

	&:focus-visible {
		box-shadow: 0 0 rem(1) rem(1) $text-black;
	}

	&.btn-primary {
		background: $red;
		color: $text-white;

		&:hover,
		&:active {
			background: $bg-dark;
			color: $text-white;

			&::before {
				color: $red;
			}
		}

	}

	&.btn-secondary {

		background: $bg-dark;
		color: $text-white;

		&::before {
			color: $red;
		}

		&:hover,
		&:active {
			background: $red;
			color: $text-white;

			&::before {
				color: $text-white;
			}
		}

	}

	&.btn-sm {
		padding: 0.75rem 1rem;
		gap: 1rem;
		font-size: 1rem;
		text-transform: none;
	}


	&:disabled,
	&[aria-disabled="true"] {
		cursor: default;
		opacity: 0.5;
		pointer-events: none;
	}
}