.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: $ui-index-6;
	padding: 1.25rem 0;


	&.open-menu {}


	// .header__wrapper
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .header__menu
	&__menu {}

	&__logo {
		max-width: rem(106);
		transition: all 0.3s ease 0.3s;

		.header.open-menu & {
			max-width: 0;
			opacity: 0;
			visibility: hidden;
			transition: none;
		}
	}

	// .header__callback
	&__callback {
		flex-shrink: 0;

		&::before {
			width: 1.5rem;
			height: 1.5rem;
			background: $bg-white;
			color: $red;
			flex-shrink: 0;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			align-content: center;
			text-align: center;
			font-size: 0.75rem;
		}
	}
}


.menu {
	background: $red;
	border-radius: 2rem;
	display: flex;
	align-items: center;
	flex: 0 1 auto;
	transition: all 0.3s ease;

	.header.open-menu & {
		flex: 1 1 auto;

		@media (min-width:$md4) {
			margin-right: rem(-165);
			padding-right: rem(165);
		}

		@media (min-width:$md3) {
			margin-right: rem(-180);
			padding-right: rem(180);

		}
	}

	// .menu__toggler
	&__toggler {
		flex-shrink: 0;
	}

	// .menu__toggler-icon
	&__toggler-icon {}

	// .menu__toggler-text
	&__toggler-text {
		font-size: 0.875rem;

		@media (min-width:$md3) {
			font-size: 1rem;

		}
	}

	// .menu__list
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1 1 auto;
		display: none;
		gap: 1.5rem;

		@media (min-width:$md3) {
			gap: 2rem;

		}

		@media (min-width:$md2) {
			gap: 3rem;

		}

		.header.open-menu & {
			display: flex;
		}
	}

	// .menu__item
	&__item {}

	// .menu__link
	&__link {
		transition: all 0.3s ease;

		@media (any-hover: hover) {
			&:hover {
				color: $text-black;
			}
		}
	}
}


.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	margin-left: auto;
	color: $red;
	background: $bg-white;
	z-index: 11;
	transition: all 0.3s ease;
	padding: rem(5);


	& span {
		display: block;
		align-self: stretch;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: transform;

		padding: rem(2) 0;

		&::before {
			content: "";
			display: block;
			height: rem(2);
			border-radius: rem(2);
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
			margin: auto;
		}
	}

	.header.open-menu & {

		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease;

			&::before {
				transition: transform 0.45s ease 0.35s, width 0.3s ease;
			}

			&:first-child {
				transform: translateY(rem(3));


				&::before {
					transform: rotate(-135deg);
				}
			}


			&:last-child {
				transform: translateY(rem(-3));


				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}