// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import "fonts";
@import "icons";
// ======================================ШРИФТЫ===============================================

// Шрифт по умолчанию
$fontfamily: "TTFirsNeue";
$font-onest: "Onest";
// Шрифт по умолчанию

$md1: 1399.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 743.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ

$minWidth: 360; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1320); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

// ЦВЕТА

$bg-dark: #1F1F1F;
$bg-line: #656565;
$bg-cards: #fff;
$bg-white: #F8F8F8;
$text-black: #2D2D2D;
$text-grey: #9C9C9C;
$text-white: #F9F9F9;
$red: #BF1618;

$header: var(--header-height, 11.375rem);

// Z-Index

$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

// ОБЩИЕ ПАРАМЕТРЫ

@import "ui";
@import "forms";
@import "common";
@import "header";
@import "footer";

//=======================================

.philosophy {
    padding: rem(50) 0;
}

.programm {
    padding: rem(50) 0;
}

.about {
    padding: rem(50) 0 rem(100);
}

.reviews {
    background: $bg-white;
    color: $text-black;
    padding: 2.5rem 0;

    // .reviews__slider
    &__slider {
        margin-top: 3rem;
    }

    // .reviews__controls
    &__controls {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    // .reviews__prev
    &__prev {}

    // .reviews__next
    &__next {}
}

.review {
    border-radius: 2rem;
    background: $bg-cards;
    box-shadow: rem(1) rem(4) remn(4) 0 rgba(169, 169, 169, 0.10);
    padding: 2rem;
    display: flex;
    flex-direction: column;

    &.swiper-slide {
        height: auto;
    }

    // .review__header
    &__header {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        font-weight: 500;
        color: $text-grey;
    }

    // .review__author
    &__author {}

    // .review__time
    &__time {}

    // .review__image
    &__image {
        margin-top: 1rem;
        display: block;

        & img {
            border-radius: rem(24);
            aspect-ratio: math.div(362, 262);
        }
    }

    // .review__text
    &__text {
        margin-top: 1rem;
    }
}


.start {
    background: $red;
    color: $text-black;
    padding: 3.75rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10vw;
    text-transform: uppercase;
    line-height: 1;

    // .start__line
    &__line {}
}



.faq {
    background: $bg-white;
    color: $text-black;
    padding: 2.5rem 0;

    // .faq__content
    &__content {
        margin-top: 3rem;
        width: calc(66.66% - 0.5rem);
        margin-left: auto;
    }

    // .faq__list
    &__list {}

    // .faq__item
    &__item {
        border-bottom: rem(1) solid $red;
    }

    // .faq__item-btn
    &__item-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.25rem 1.5rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &::before {
            order: 1;
            width: 1.5rem;
            height: 1.5rem;
            font-size: 1.5rem;
            flex-shrink: 0;
            color: $red;
            transition: all 0.3s ease;
        }

        @media (any-hover: hover) {
            &:hover {
                background: $red;
                color: $text-white;

                &::before {
                    color: $text-white;
                }
            }
        }
    }

    // .faq__item-answer
    &__item-answer {
        display: none;
    }
}

.journey {
    padding: rem(115) 0;

    // .journey__content
    &__content {
        width: calc(66.66% - 0.5rem);
        margin-left: auto;
    }

    // .journey__body
    &__body {
        max-width: rem(555);
    }

    // .journey__title
    &__title {}

    // .journey__subtitle
    &__subtitle {
        margin: 1rem;
    }

    // .journey__form
    &__form {
        margin-top: 3rem;
    }
}