// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import "fonts";
@import "icons";
// ======================================ШРИФТЫ===============================================

// Шрифт по умолчанию
$fontfamily: "TTFirsNeue";
$font-onest: "Onest";
// Шрифт по умолчанию

$md1: 1399.98px;
$md2: 1199.98px;
$md3: 959.98px;
$md4: 743.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ

$minWidth: 360; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1320); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

// ЦВЕТА

$bg-dark: #1F1F1F;
$bg-line: #656565;
$bg-cards: #fff;
$bg-white: #F8F8F8;
$text-black: #2D2D2D;
$text-grey: #9C9C9C;
$text-grey-dark: #535353;
$text-white: #F9F9F9;
$red: #BF1618;

$header: var(--header-height, 11.375rem);

// Z-Index

$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

// ОБЩИЕ ПАРАМЕТРЫ

@import "ui";
@import "forms";
@import "common";
@import "header";
@import "footer";

//=======================================

.hero {
    position: relative;
    z-index: $ui-index-2;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(31, 31, 31, 0.00) 64.27%, #1F1F1F 93.04%);
        z-index: 2;
    }

    display: flex;
    flex-direction: column;
    padding: 7.5rem 0 2.5rem;

    @media (max-width:$md4) {
        @media (min-height: 850px) {
            min-height: rem(844);
        }
    }

    background: url("@img/hero/noise.svg") center / cover no-repeat,
    url("@img/hero/main-mobile.jpg") center / cover no-repeat;

    @media (min-width:$md4) {
        background: url("@img/hero/noise.svg") center / cover no-repeat,
            url("@img/hero/main.jpg") center / cover no-repeat;
        min-height: 100svh;
        padding: 7.5rem 0 2.5rem;

        @media (min-height: 1023.98px) {
            background: url("@img/hero/noise.svg") center / cover no-repeat,
                url("@img/hero/main.jpg") center / auto rem(1024) no-repeat;
            padding: 5rem 0;
            min-height: rem(1024);

        }
    }

    @media (min-width:$md1) {
        background: url("@img/hero/noise.svg") center / cover no-repeat,
            url("@img/hero/main.jpg") center / cover no-repeat;
    }

    .container {
        align-self: stretch;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    // .hero__offer
    &__offer {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
    }

    // .hero__tagline
    &__tagline {
        position: relative;
        z-index: $ui-index-2;

        line-height: 120%;
        font-size: rem(12);
        max-width: 8.5rem;


        @media (min-width:$md4) {
            font-weight: 500;
            max-width: 12.3125rem;
            font-size: rem(18);

        }
    }

    // .hero__logo
    &__logo {
        display: block;
        margin-top: rem(20);

        @media (min-width:$md4) {
            margin-top: rem(30);

        }
    }

    // .hero__title
    &__title {
        position: relative;
        z-index: $ui-index-2;
        font-size: 1rem;
        max-width: 18rem;
        line-height: 100%;
        margin-top: 12rem;

        @media (max-width:$md4) {
            margin-top: 6rem;

            @media (min-height: 850px) {
                margin-top: 12rem;
            }
        }

        @media (min-width:$md4) {
            line-height: 120%;
            max-width: 21.125rem;
            font-weight: 500;
            font-size: rem(18);
            margin-top: rem(40);

            @media (min-height: 1023.98px) {
                margin-top: rem(130);

            }

        }
    }

    // .hero__btn
    &__btn {
        position: relative;
        z-index: $ui-index-2;
        margin-top: 2rem;
        width: 100%;

        @media (min-width:$md5) {
            width: auto;
        }
    }

    // .hero__image
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $ui-index-1;
        pointer-events: none;

        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.history {
    padding: rem(80) 0 rem(40);

    @media (min-width:$md4) {
        padding: 1.5rem 0 2.5rem;
    }

    @media (min-width:$md3) {
        padding: 2.5rem 0 3.75rem;

    }

    // .history__slider
    &__slider {
        margin-top: 2rem;

        @media (min-width:$md4) {
            margin-top: 2.5rem;
        }

        @media (min-width:$md3) {
            margin-top: 3rem;

        }
    }

    // .history__slide
    &__slide {
        background: $bg-white;
        color: $text-black;
        display: grid;
        padding: 1.25rem;
        gap: 1.25rem;

        border-radius: 1.5rem;

        @media (min-width:$md4) {
            border-radius: 2rem;

        }

        @media (min-width:$md3) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width:$md2) {
            gap: 2rem;
            padding: 2.5rem;

        }
    }

    // .history__image
    &__image {
        & img {
            border-radius: rem(16);
            object-position: center bottom;

            @media (max-width:$md4) {
                aspect-ratio: math.div(310, 235);
            }

            @media (min-width:$md4) {
                border-radius: rem(24);
            }
        }
    }

    // .history__text
    &__text {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;


        @media (min-width:$md3) {
            align-items: flex-start;

        }
    }

    // .history__caption
    &__caption {}

    // .history__desc
    &__desc {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: auto;

        @media (min-width:$md3) {
            gap: 0.75rem;

        }
    }

    // .history__next
    &__next {
        margin-top: 0.5rem;

        @media (min-width:$md4) {
            margin-top: 1.5rem;

        }
    }

}

.programm {
    padding: rem(40) 0;

    @media (min-width:$md4) {
        padding: 3.75rem 0 3.25rem;
    }

    @media (min-width:$md3) {
        padding: 3.75rem 0;

    }

    .section-header {
        @media (min-width:$md3) {
            grid-template-columns: 1fr 3fr;
        }

        @media (min-width:$md2) {
            grid-template-columns: 1fr 2fr;
        }
    }

    // .programm__content
    &__content {

        margin-top: 2rem;

        @media (min-width:$md4) {
            margin-top: rem(40);
            display: grid;
            align-items: start;
            gap: 0.5rem;
            grid-template-columns: 1fr 4fr;

        }

        @media (min-width:$md3) {
            gap: 1rem;
            margin-top: rem(50);
            grid-template-columns: 1fr 3fr;

        }

        @media (min-width:$md2) {
            grid-template-columns: 1fr 2fr;

        }
    }

    // .programm__navigation
    &__navigation {
        display: none;

        @media (min-width:$md4) {
            display: block;
            min-width: 0;
            max-width: 100%;
            margin-left: 0;
            position: relative;
            margin-top: rem(-35);

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                pointer-events: none;
                background: linear-gradient(180deg, #1F1F1F 0%, rgba(31, 31, 31, 0.00) 54.32%, #1F1F1F 100%);
            }

        }

        & .swiper {
            @media (min-width:$md4) {
                height: rem(300);

            }

            @media (min-width:$md3) {
                height: rem(400);

            }
        }

        @media (min-width:$md3) {
            margin-top: rem(-55);
        }


    }

    // .programm__navigation-item
    &__navigation-item {
        height: auto;
        display: flex;
        align-items: center;
        transition: transform 0.4s ease;
        cursor: pointer;
        user-select: none;
        transform-origin: left center;

        @media (max-width:$md3) {
            font-size: rem(26);
        }

        &.swiper-slide-active {
            transform: scale(1.38);

            @media (min-width:$md3) {
                transform: scale(1.3333)
            }
        }
    }


    // .programm__details
    &__details {
        min-width: 0;
        max-width: 100%;

        @media (max-width:$md4) {
            overflow: visible;
        }

        @media (min-width:$md4) {
            height: rem(340);

        }

        @media (min-width:$md3) {
            height: rem(430);
        }
    }

    &__details-scrollbar {
        @media (min-width:$md4) {
            display: none;
        }
    }

    // .programm__card
    &__card {
        background-color: $bg-white;
        color: $text-grey-dark;
        border-radius: rem(32);
        overflow: hidden;
        display: flex;
        gap: 1.5rem;
        padding: 1.25rem 1.25rem 2rem;
        flex-direction: column-reverse;

        &.swiper-slide {
            @media (max-width:$md4) {
                height: auto;

            }
        }

        @media (min-width:$md4) {
            padding: 1.25rem;
            gap: 1rem;
            flex-direction: row;
        }

        @media (min-width:$md3) {
            padding: 2rem;

        }
    }

    // .programm__card-info
    &__card-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 auto;
        gap: 0.5rem;

        @media (min-width:$md4) {
            gap: 2rem;

        }
    }

    &__card-day {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;

        @media (min-width:$md4) {
            display: none;
        }
    }

    // .programm__card-caption
    &__card-caption {
        background-color: $red;
        color: $text-white;
        padding: 1rem;
        text-align: center;
        border-radius: 2rem;
    }

    // .programm__card-text
    &__card-text {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
        gap: 0.35rem;


        @media (min-width:$md4) {
            gap: 0.5rem;
            margin-top: 0;
        }
    }

    // .programm__card-image
    &__card-image {
        @media (min-width:$md4) {
            flex: 0 0 42.5%;
        }

        @media (min-width:$md3) {
            flex: 0 0 52.5%;
        }

        & img {
            border-radius: 1.5rem;

            @media (max-width:$md4) {
                aspect-ratio: math.div(19.375, 13.3125);
            }
        }
    }

    // .programm__info
    &__info {
        margin-top: 1.25rem;
        border-radius: 2rem;
        background: $bg-white;
        display: flex;


        flex-direction: column;
        padding: 1.25rem;
        gap: 1rem;

        @media (min-width:$md4) {
            gap: 1.25rem;
            padding: 1.5rem;
        }

        @media (min-width:$md3) {
            flex-direction: row;
        }

        @media (min-width:$md2) {
            padding: 2rem;
        }
    }

    // .programm__info-video
    &__info-video {
        width: 100%;
        object-fit: cover;
        border-radius: 2rem;
        overflow: hidden;

        @media (max-width:$md5) {
            height: 20.4375rem;
        }

        @media (min-width:$md3) {
            flex: 0 0 rem(395);
        }

    }

    // .programm__tours
    &__tours {
        flex: 1 1 auto;
        border-radius: 2rem;
        background: $red;
        color: $text-white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.25rem;

        @media (min-width:$md4) {
            padding: 2rem;

        }
    }

    // .programm__tours-title
    &__tours-title {
        text-align: center;

        @media (max-width:$md5) {
            font-size: 1.375rem;
        }
    }

    // .programm__tours-list
    &__tours-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.5rem;
        gap: 0.5rem;

        @media (min-width:$md4) {
            gap: 1rem;

        }


        & li {
            display: flex;
            gap: 0.5rem;
            align-items: flex-start;

            @media (min-width:$md4) {
                align-items: center;
                gap: 1rem;

            }

            &::before {
                content: '';
                width: 4.0625rem;
                height: 1.5rem;
                display: block;
                background: url("@img/decor/ornament.svg") center / contain no-repeat;

                @media (min-width:$md4) {
                    width: rem(73);
                    height: rem(27);
                }
            }
        }
    }

    // .programm__tours-btn
    &__tours-btn {
        margin-top: 1.5rem;

        @media (min-width:$md4) {
            margin-top: 2rem;

        }
    }
}

.about {
    position: relative;
    padding: rem(40) 0 rem(80);

    @media (min-width:$md4) {
        padding: 3.25rem 0 6.25rem;
    }

    @media (min-width:$md3) {
        padding: 3.75rem 0 7.5rem;

    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #1F1F1F 28.49%, rgba(31, 31, 31, 0.00) 55.62%, #1F1F1F 83.31%);
        z-index: -1;
    }

    .section-header__text {
        @media (min-width:$md4) {
            max-width: rem(205);

        }

        @media (min-width:$md3) {
            max-width: rem(290);

        }
    }

    &__desc {
        margin-top: 6.5rem;
        text-align: center;

        & p {
            @media (min-width:$md4) {
                max-width: 24.1875rem;

            }

            @media (min-width:$md3) {
                max-width: rem(490);
            }
        }

        @media (min-width:$md4) {
            text-align: left;
            margin-left: auto;
            width: calc(80% - 1.5rem);
            margin-top: 2rem;
        }

        @media (min-width:$md3) {
            width: calc(80% - 3rem);

        }

        @media (min-width:$md2) {
            margin-top: 3rem;
            width: calc(66.66% - 0.875rem);

        }
    }

    // .about__video
    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        pointer-events: none;
    }

    // .about__content
    &__content {
        margin-top: 2.5rem;

        @media (min-width:$md4) {
            margin-top: 9.8rem;
        }

        @media (min-width:$md3) {
            margin-top: 15rem;
        }
    }

    // .about__heading
    &__heading {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0.5rem;

        @media (min-width:$md4) {
            text-align: left;
            align-items: stretch;
            flex-direction: row;
        }
    }

    // .about__heading-text
    &__heading-text {
        &.subtitle {
            @media (max-width:$md4) {
                font-size: 1rem;
            }
        }

        @media (min-width:$md4) {
            max-width: 19.6875rem;

        }
    }

    // .about__cards
    &__cards {
        margin-top: 2rem;
        overflow: visible;

        @media (min-width:$md3) {
            margin-top: 3rem;

        }

        .swiper-wrapper {
            @media (min-width:$md4) {
                display: grid;
                gap: 1.25rem;
                grid-template-columns: repeat(2, 1fr);

            }

            @media (min-width:$md3) {
                grid-template-columns: repeat(4, 1fr);

            }
        }
    }

    // .about__card
    &__card {
        border-radius: 2rem;
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(rem(15));
        -webkit-backdrop-filter: blur(rem(15));
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        counter-increment: num;

        @media (max-width:$md4) {
            font-size: 0.875rem;
        }

        &::before {
            content: counter(num);
            width: 1.875rem;
            height: 1.875rem;
            font-size: 1rem;
            font-weight: 700;
            line-height: 120%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: $bg-white;
            color: $red;
        }

        &.swiper-slide {
            height: auto;
            width: 100%;
            min-height: rem(162);

            @media (max-width:$md4) {
                @media (min-width:$md5) {
                    width: 21.875rem;
                }
            }
        }

        @media (max-width:$md4) {
            &:nth-child(even) {
                background: $bg-white;
                color: $text-black;

                &::before {
                    background: $red;
                    color: $text-white;
                }
            }
        }

        @media (min-width:$md4) {
            @media (max-width:$md3) {

                &:nth-child(4n + 2),
                &:nth-child(4n + 3) {
                    background: $bg-white;
                    color: $text-black;

                    &::before {
                        background: $red;
                        color: $text-white;
                    }
                }

            }
        }

        @media (min-width:$md3) {
            &:nth-child(even) {
                background: $bg-white;
                color: $text-black;

                &::before {
                    background: $red;
                    color: $text-white;
                }
            }

        }
    }

    // .about__cards-scrollbar
    &__cards-scrollbar {}
}

.reviews {
    background: $bg-white;
    color: $text-black;
    padding: 1.25rem 0;

    @media (min-width:$md4) {
        padding: 2rem 0;

    }

    @media (min-width:$md3) {
        padding: 2.5rem 0;

    }

    .section-header__text {
        @media (min-width:$md4) {
            max-width: 14rem;

        }

        @media (min-width:$md3) {
            max-width: 17.1875rem;

        }
    }

    // .reviews__slider
    &__slider {
        overflow: visible;
        margin-top: 2rem;

        @media (min-width:$md4) {
            margin-top: 2.5rem;
        }

        @media (min-width:$md3) {
            margin-top: 3rem;

        }
    }

    // .reviews__controls
    &__controls {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 1.5rem;

        @media (min-width:$md4) {
            margin-top: 2rem;

        }
    }

    // .reviews__prev
    &__prev {}

    // .reviews__next
    &__next {}
}

.review {
    border-radius: 2rem;
    background: $bg-cards;
    box-shadow: rem(1) rem(4) remn(4) 0 rgba(169, 169, 169, 0.10);
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.25rem 2.31rem;

    @media (min-width:$md3) {
        padding: 2rem;

    }

    &.swiper-slide {
        height: auto;
    }

    // .review__header
    &__header {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        font-weight: 500;
        color: $text-grey;
    }

    // .review__author
    &__author {}

    // .review__time
    &__time {}

    // .review__image
    &__image {
        display: block;
        margin-top: 0.75rem;

        @media (min-width:$md3) {
            margin-top: 1rem;
        }

        & img {
            border-radius: rem(24);
            aspect-ratio: math.div(310, 264);

            @media (min-width:$md5) {
                aspect-ratio: math.div(390, 265);

            }

            @media (min-width:$md3) {
                aspect-ratio: math.div(362, 262);

            }
        }
    }

    // .review__text
    &__text {
        margin-top: 1rem;
        line-height: 120%;
        font-weight: 500;

        @media (max-width:$md4) {
            font-size: 0.875rem;
        }
    }
}

.start {
    background: $red;
    color: $text-black;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    text-transform: uppercase;
    padding: 3.75rem 1.25rem;

    @media (min-width:$md5) {
        gap: 1.25rem;
        padding: 5rem 0;

    }

    @media (min-width:$md3) {
        padding: 3.75rem 0;

    }

    // .start__line
    &__line {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        flex-direction: column;

        @media (min-width:$md5) {
            gap: 1.25rem;
            justify-content: center;
            flex-direction: row;
        }

        &--one {
            @media (min-width:$md5) {
                padding-left: 22vw;

            }

            @media (min-width:$md3) {
                padding-left: 13vw;
            }
        }

        &--two {
            @media (max-width:$md5) {
                flex-direction: column-reverse;
            }

            @media (min-width:$md5) {
                padding-right: 3vw;
            }

            @media (min-width:$md3) {
                padding-right: 11vw;

            }
        }

        &--three {
            @media (min-width:$md5) {
                padding-right: 5vw;

            }
        }

        &--four {
            @media (max-width:$md5) {
                flex-direction: column-reverse;
            }


            @media (min-width:$md5) {
                padding-left: 14vw;
            }

            @media (min-width:$md3) {
                padding-left: 7vw;

            }
        }
    }

    // .start__line-text
    &__line-text {
        line-height: 1;
        font-weight: 700;
        flex-shrink: 0;
        font-size: 17.5vw;

        @media (min-width:$md5) {
            font-size: 7.3vw;

        }

        @media (min-width:$md3) {
            font-size: 8.3vw;

        }
    }

    // .start__line-media
    &__line-media {
        border-radius: 2rem;
        max-width: 100%;
        overflow: hidden;
        flex-shrink: 0;
        display: none;
        aspect-ratio: math.div(350, 182);

        &.start__line-media--mobile {
            display: block;
        }

        @media (min-width:$md5) {
            display: block;
            aspect-ratio: math.div(203, 120);
            width: rem(203);
        }

        @media (min-width:$md1) {
            width: #{math.div(203, 1440) * 100}vw;

        }

        &.start__line-media--large {
            @media (min-width:$md5) {
                aspect-ratio: math.div(315, 120);
                width: rem(315);

            }

            @media (min-width:$md1) {
                width: #{math.div(315, 1440) * 100}vw;

            }
        }

        &.start__line-media--only-mobile {
            display: block;

            @media (min-width:$md5) {
                display: none;
            }
        }

        &:is(video) {
            object-fit: cover;
        }
    }

    // .start__line-text
    &__line-text {}
}

.faq {
    background: $bg-white;
    color: $text-black;
    padding: rem(40) 0;

    @media (min-width:$md3) {
        padding: rem(60) 0;
    }

    .section-header__text {
        @media (min-width:$md4) {
            max-width: rem(177);

        }
    }

    // .faq__content
    &__content {
        margin-top: 2rem;

        @media (min-width:$md4) {
            margin-left: auto;
            width: calc(80% - 3.125rem);

        }

        @media (min-width:$md3) {
            margin-top: 3rem;
            width: calc(66.66% - 0.5rem);

        }
    }

    // .faq__list
    &__list {}

    // .faq__item
    &__item {
        border-bottom: rem(1) solid $red;
        transition: all 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                background: $red;

                .faq__item-btn,
                .faq__item-answer {
                    color: $text-white;

                    &::before {
                        color: $text-white;
                    }
                }
            }
        }
    }

    // .faq__item-btn
    &__item-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.25rem;
        gap: 1rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &::before {
            order: 1;
            flex-shrink: 0;
            color: $red;
            transition: all 0.3s ease;
            width: 1.25rem;
            height: 1.25rem;
            font-size: 1.25rem;
            align-self: flex-start;

            @media (min-width:$md3) {
                width: 1.5rem;
                height: 1.5rem;
                font-size: 1.5rem;
            }
        }

        &.active {
            &::before {
                transform: rotate(360deg);
                @extend %ic, .icon-minus;
            }
        }

        @media (min-width:$md3) {
            padding: 1.25rem 1.5rem;
        }


    }

    // .faq__item-answer
    &__item-answer {
        display: none;
        padding: 0 3.75rem 1.25rem 1.25rem;
        color: $text-grey-dark;
    }
}

.journey {
    padding: rem(70) 0;

    @media (min-width:$md4) {
        padding: rem(100) 0;

    }

    @media (min-width:$md3) {
        padding: rem(115) 0;
    }

    .container {
        @media (min-width:$md4) {
            position: relative;

        }

        &::before {
            @media (min-width:$md4) {
                content: '';
                position: absolute;
                top: 1.25rem;
                left: 2.5rem;
                width: rem(150);
                height: rem(40);
                background: url("@img/decor/arrows.svg") 0 center / contain no-repeat;

            }

            @media (min-width:$md3) {
                height: rem(60);
                width: rem(172);

            }
        }
    }

    // .journey__content
    &__content {
        @media (min-width:$md4) {
            margin-left: auto;
            width: calc(80% - 3.125rem);

        }

        @media (min-width:$md3) {
            width: calc(66.66% - 0.5rem);

        }
    }

    // .journey__body
    &__body {
        @media (min-width:$md4) {
            max-width: rem(475);

        }

        @media (min-width:$md3) {
            max-width: rem(555);

        }
    }

    // .journey__title
    &__title {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;

        @media (min-width:$md4) {
            text-align: left;
            display: block;
        }
    }

    // .journey__subtitle
    &__subtitle {
        margin-top: 1rem;
        text-align: center;

        @media (max-width:$md4) {
            font-size: 0.75rem;
        }

        @media (min-width:$md4) {
            text-align: left;
        }
    }

    // .journey__form
    &__form {
        margin-top: 2rem;

        @media (min-width:$md4) {
            margin-top: 2.5rem;

        }

        @media (min-width:$md3) {
            margin-top: 3rem;

        }
    }
}