// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import "fonts";
@import "icons";
// ======================================ШРИФТЫ===============================================

// Шрифт по умолчанию
$fontfamily: "TTFirsNeue";
$font-onest: "Onest";
// Шрифт по умолчанию

$md1: 1399.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 743.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ

$minWidth: 360; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1320); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

// ЦВЕТА

$bg-dark: #1F1F1F;
$bg-line: #656565;
$bg-cards: #fff;
$bg-white: #F8F8F8;
$text-black: #2D2D2D;
$text-grey: #9C9C9C;
$text-grey-dark: #535353;
$text-white: #F9F9F9;
$red: #BF1618;

$header: var(--header-height, 11.375rem);

// Z-Index

$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

// ОБЩИЕ ПАРАМЕТРЫ

@import "ui";
@import "forms";
@import "common";
@import "header";
@import "footer";

//=======================================

.hero {
    position: relative;
    z-index: $ui-index-2;
    background: linear-gradient(180deg, rgba(31, 31, 31, 0.00) 64.27%, #1F1F1F 93.04%),
        url("@img/hero/noise.svg") center / cover no-repeat,
        url("@img/hero/main.jpg") center / auto rem(1024) no-repeat;
    min-height: rem(1024);
    display: flex;
    flex-direction: column;
    padding: 5rem 0;

    @media (min-width:$md1) {
        background: linear-gradient(180deg, rgba(31, 31, 31, 0.00) 64.27%, #1F1F1F 93.04%),
            url("@img/hero/noise.svg") center / cover no-repeat,
            url("@img/hero/main.jpg") center / cover no-repeat;
    }

    .container {
        width: 100%;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    // .hero__offer
    &__offer {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
    }

    // .hero__tagline
    &__tagline {
        position: relative;
        z-index: $ui-index-2;
        max-width: 12.3125rem;
    }

    // .hero__logo
    &__logo {
        margin-top: rem(30);
        display: block;
    }

    // .hero__title
    &__title {
        position: relative;
        z-index: $ui-index-2;
        margin-top: rem(130);
        max-width: 21.125rem;
    }

    // .hero__btn
    &__btn {
        position: relative;
        z-index: $ui-index-2;
        margin-top: 2rem;
    }

    // .hero__image
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $ui-index-1;
        pointer-events: none;

        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.history {
    padding: 2.5rem 0 3.75rem;

    // .history__slider
    &__slider {
        margin-top: 3rem;
    }

    // .history__slide
    &__slide {
        border-radius: 2rem;
        background: $bg-white;
        color: $text-black;
        padding: 2.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    // .history__image
    &__image {
        & img {
            border-radius: rem(24);
        }
    }

    // .history__text
    &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }

    // .history__caption
    &__caption {}

    // .history__desc
    &__desc {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    // .history__next
    &__next {
        margin-top: auto;
    }

}

.programm {
    padding: 3.75rem 0;

    // .programm__content
    &__content {
        margin-top: rem(50);
        display: grid;
        align-items: start;
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
    }

    // .programm__navigation
    &__navigation {
        min-width: 0;
        max-width: 100%;
        margin-left: 0;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            pointer-events: none;
            background: linear-gradient(180deg, #1F1F1F 0%, rgba(31, 31, 31, 0.00) 54.32%, #1F1F1F 100%);
        }

        & .swiper {
            height: rem(300);
        }
    }

    // .programm__navigation-item
    &__navigation-item {
        height: auto;
        display: flex;
        align-items: center;

        transition: transform 0.4s ease;
        cursor: pointer;
        user-select: none;
        transform-origin: left center;

        &.swiper-slide-active {

            transform: scale(1.3333)
        }
    }


    // .programm__details
    &__details {
        min-width: 0;
        max-width: 100%;
        height: rem(430);
    }

    // .programm__card
    &__card {
        background-color: $bg-white;
        color: $text-grey-dark;
        height: rem(430);
        border-radius: rem(32);
        overflow: hidden;
        padding: 2rem;
        display: flex;
        ;
        gap: 1rem;
    }

    // .programm__card-info
    &__card-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        flex: 1 1 auto;
    }

    // .programm__card-caption
    &__card-caption {
        background-color: $red;
        color: $text-white;
        padding: 1rem;
        text-align: center;
        border-radius: 2rem;
    }

    // .programm__card-text
    &__card-text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    // .programm__card-image
    &__card-image {
        flex: 0 0 52.5%;

        & img {
            border-radius: 1.5rem;
        }
    }

    // .programm__info
    &__info {
        margin-top: 1.25rem;
        border-radius: 2rem;
        background: $bg-white;
        display: flex;
        gap: 1.25rem;
        padding: 2rem;
    }

    // .programm__info-video
    &__info-video {
        flex: 0 0 rem(395);
        width: 100%;
        object-fit: cover;
        border-radius: 2rem;
        overflow: hidden;

    }

    // .programm__tours
    &__tours {
        flex: 1 1 auto;
        border-radius: 2rem;
        background: $red;
        color: $text-white;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    // .programm__tours-title
    &__tours-title {
        text-align: center;
    }

    // .programm__tours-list
    &__tours-list {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        & li {
            display: flex;
            align-items: center;
            gap: 1rem;

            &::before {
                content: '';
                width: rem(73);
                height: rem(27);
                display: block;
                background: url("@img/decor/ornament.svg") 0 0 / cover no-repeat;
            }
        }
    }

    // .programm__tours-btn
    &__tours-btn {
        margin-top: 2rem;
    }
}

.about {
    position: relative;
    padding: 3.75rem 0 7.5rem;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #1F1F1F 28.49%, rgba(31, 31, 31, 0.00) 55.62%, #1F1F1F 83.31%);
        z-index: -1;
    }

    .section-header__text {
        max-width: rem(290);
    }


    // .about__video
    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        pointer-events: none;
    }


    // .about__content
    &__content {
        margin-top: 15rem;
    }

    // .about__heading
    &__heading {
        display: flex;
        justify-content: space-between;
    }

    // .about__heading-text
    &__heading-text {
        max-width: 19.6875rem;
    }

    // .about__cards
    &__cards {
        margin-top: 3rem;

        .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.25rem;
        }
    }

    // .about__card
    &__card {
        border-radius: 2rem;
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(rem(15));
        -webkit-backdrop-filter: blur(rem(15));
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        counter-increment: num;

        &::before {
            content: counter(num);
            width: 1.875rem;
            height: 1.875rem;
            font-size: 1rem;
            font-weight: 700;
            line-height: 120%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: $bg-white;
            color: $red;
        }

        &:nth-child(even) {
            background: $bg-white;
            color: $text-black;

            &::before {
                background: $red;
                color: $text-white;
            }
        }
    }

    // .about__cards-scrollbar
    &__cards-scrollbar {}
}

.reviews {
    background: $bg-white;
    color: $text-black;
    padding: 2.5rem 0;

    .section-header__text {
        max-width: 17.1875rem;
    }

    // .reviews__slider
    &__slider {
        margin-top: 3rem;
        overflow: visible;
    }

    // .reviews__controls
    &__controls {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    // .reviews__prev
    &__prev {}

    // .reviews__next
    &__next {}
}

.review {
    border-radius: 2rem;
    background: $bg-cards;
    box-shadow: rem(1) rem(4) remn(4) 0 rgba(169, 169, 169, 0.10);
    padding: 2rem;
    display: flex;
    flex-direction: column;

    &.swiper-slide {
        height: auto;
    }

    // .review__header
    &__header {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        font-weight: 500;
        color: $text-grey;
    }

    // .review__author
    &__author {}

    // .review__time
    &__time {}

    // .review__image
    &__image {
        margin-top: 1rem;
        display: block;

        & img {
            border-radius: rem(24);
            aspect-ratio: math.div(362, 262);
        }
    }

    // .review__text
    &__text {
        margin-top: 1rem;
    }
}

.start {
    background: $red;
    color: $text-black;
    padding: 3.75rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: center;
    text-transform: uppercase;

    // .start__line
    &__line {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;

        &--one {
            padding-left: 13vw;
        }

        &--two {
            padding-right: 11vw;
        }

        &--three {
            padding-right: 5vw;
        }

        &--four {
            padding-left: 7vw;
        }
    }

    // .start__line-text
    &__line-text {
        line-height: 1;
        font-weight: 700;
        font-size: 8.3vw;
        flex-shrink: 0;
    }

    // .start__line-media
    &__line-media {
        max-width: 100%;
        border-radius: 2rem;
        overflow: hidden;
        flex-shrink: 0;
        width: #{math.div(203, 1440) * 100}vw;
        aspect-ratio: math.div(203, 120);

        &.start__line-media--large {
            width: #{math.div(315, 1440) * 100}vw;
            aspect-ratio: math.div(315, 120);
        }

        &:is(video) {
            object-fit: cover;
        }
    }

    // .start__line-text
    &__line-text {}
}



.faq {
    background: $bg-white;
    color: $text-black;
    padding: rem(60) 0;

    .section-header__text {
        max-width: rem(177);
    }

    // .faq__content
    &__content {
        margin-top: 3rem;
        width: calc(66.66% - 0.5rem);
        margin-left: auto;
    }

    // .faq__list
    &__list {}

    // .faq__item
    &__item {
        border-bottom: rem(1) solid $red;
    }

    // .faq__item-btn
    &__item-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.25rem 1.5rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &::before {
            order: 1;
            width: 1.5rem;
            height: 1.5rem;
            font-size: 1.5rem;
            flex-shrink: 0;
            color: $red;
            transition: all 0.3s ease;
        }

        &.active {
            &::before {
                transform: rotate(360deg);
                @extend %ic, .icon-minus;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                background: $red;
                color: $text-white;

                &::before {
                    color: $text-white;
                }
            }
        }
    }

    // .faq__item-answer
    &__item-answer {
        display: none;
        padding: 0 3.75rem 1.25rem 1.25rem;
        color: $text-grey-dark;
    }
}

.journey {
    padding: rem(115) 0;

    .container {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 1.25rem;
            left: 2.5rem;
            width: rem(172);
            height: rem(60);
            background: url("@img/decor/arrows.svg") 0 0 / cover no-repeat;
        }
    }

    // .journey__content
    &__content {
        width: calc(66.66% - 0.5rem);
        margin-left: auto;
    }

    // .journey__body
    &__body {
        max-width: rem(555);
    }

    // .journey__title
    &__title {}

    // .journey__subtitle
    &__subtitle {
        margin-top: 1rem;
    }

    // .journey__form
    &__form {
        margin-top: 3rem;
    }
}